html {
    display: table;
    margin: auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#content {
    display: table;
    border-radius: 5%; 
    padding: 10px;
    background-color: grey;
}

/* toolbar styling */
#toolbar{
    display: table-cell;
    padding-right: 10px;
}
.toolbar-cell{
    display: table-cell;
    height: 32px;
    width: 32px;
    border-radius: 50%; 
    background-repeat: no-repeat;
    background-size: auto;
}
/*  */

/* canvas styling */
#canvas{
    display: table-cell;
    padding-right: 10px;
}

.pixel-row{
    display: table-row;
}

.pixel{
    display:table-cell;
    border-left: 1px grey solid;
    border-bottom: 1px grey solid;
    background-color: white;
    height:10px;
    width:10px;
}
/*  */

/* pallete styling */
#pallete{
    display: table;
    border-spacing: 5px;
    width: 100%;
}

.color-cell{
    display: table-cell;
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    background-color: white;
}

#color-indicator{
    display: table-cell;
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    background-color: white;
}
/*  */
